h2 {
  display: block;
  color: white;
  padding-left: 50px;
}

.navBar {
  width: 100vw;
  background-color: rgb(164, 114, 184);
  color: white;
  font-size: 24px;
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
  margin: 0;
}
nav ul li {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-right: .5em;
  padding-left: .5em;
  height: 100%;
}
nav ul li:hover {
  color: black;
  background-color: rgb(199, 139, 223);
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}

.content {
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin-right: 20px;
  margin-left: 20px;
}

.movies {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
}
.movieBody {
  display: flex;
}
.movieInfo {
  width: 325px;
}
.poster img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 500px;
  box-shadow: 5px 5px 3px lightgray;
}
.movieDetails span {
  float: right;
}


.feedback {
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.reviewForm {
  padding: 10px;
  /* border-bottom: 1px solid gray; */
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px lightgray;
}
.reviewForm select {
  margin-left: 2px;
}
textarea {
  margin-top: 2px;
}
.reveiwForm button {
  float: right;
}

.reviewList {
  padding: 10px;
  overflow-y: auto;
  max-height: 600px;
}
.review {
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 5px 3px lightgray;
  margin-bottom: 20px;
}
.reviewHead {
  padding: 5px;
  background-color: rgb(221, 221, 221);
  border-bottom: 1px solid gray;
}
.reviewHead p {
  margin: 0px;
}
.reviewHead span {
  float: right;
}
.reviewContent {
  padding: 5px;
}